@import "select.css";

@media (min-width: 950px ){
    .painel{
        position: absolute;
        padding: 50px 30px;
        top:50%;
        left: 50%;
        height:auto;
        transform: translate(-50%,-50%);
        background-color: #ccffcc;
        margin-left: auto;
        margin-right: auto;
        width:40%;
        box-shadow: 5px 5px 20px;
    }
}
@media (max-width:950px){
    .painel{
        position: absolute;
        padding:40px 30px;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #ccffcc;
        margin-left: auto;
        margin-right: auto;
        width:90%;
        box-shadow: 5px 5px 20px;
    }
}

.form-row{
    position: relative;
    width: 100%;
}
.form-group{
    position: relative;
    width: 100%;
    margin-top: 30px;

}
.form-label{
    position: absolute;
    z-index: 5;
    left: 50%;
    display: inline-block;
    transform: translate(-50%);
    font-weight: bold;
}

.form-input{
    background: #ccffcc;
    text-align: center;
    width: 100%;
    position: relative;
    border:none

}
.clicado{
    animation-name: selecao-label;
    animation-duration: 300ms;
    animation-timing-function: ease;
    animation-delay: 100ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: unset;
}

@keyframes selecao-label {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        font-size: 12px;
        transform: translate(-50%,180%);
    }
}

.form-group::after{
    content: '';
    pointer-events: none;
    position: absolute;
    border:5px solid #ccccff;
    border-right: none;
    top:-40%;
    left: 0;
    width: 50%;
    height: 170%;
    transition: all 300ms cubic-bezier(.43,.79,.6,1.59);
}

.form-group::before{
    pointer-events: none;
    content: '';
    position: absolute;
    border:5px solid #ccccff;
    border-left:none;
    top:-40%;
    z-index: 8;
    left: 50%;
    width: 50%;
    height: 170%;
    transition: all 300ms cubic-bezier(.43,.79,.6,1.59);
}

.form-group.changed::before{
    transform: translate(10px);
}

.form-group.changed::after{
    transform: translate(-10px);
}
input:focus{
    outline: none;
}
body{
    background-image: url("../img/img.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}



