.form-select select{
    display: none;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance:none;
    appearance: none;
    height: 100%;
}
.form-select {
    margin-top: 30px;
    position: relative;
    height: 100%;
    width: 100%;
}
.form-select::after{
    content: '';
    pointer-events: none;
    position: absolute;
    border:5px solid #ccccff;
    border-right: none;
    top:-40%;
    left: 0;
    width: 50%;
    height: 170%;
    transition: all 200ms cubic-bezier(.43,.79,.6,1.59);
}

.form-select::before{
    pointer-events: none;
    content: '';
    position: absolute;
    border:5px solid #ccccff;
    border-left:none;
    top:-40%;
    z-index: 8;
    left: 50%;
    width: 50%;
    height: 170%;
    transition: all 200ms cubic-bezier(.43,.79,.6,1.59);
}

.form-select.changed::before{
    transform: translate(10px);
}

.form-select.changed::after{
    transform: translate(-10px);
}

.select-option{
    border: #ccccff solid 5px;
    display: block;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    top:0;
}
.container{
    position: relative;
    width: 100%;
}
.form-label-select{
    position: relative;
    z-index: 5;
    left: 50%;
    transform: translate(-50%);
    font-weight: bold;
}

