.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: rgba(255, 255, 255, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}
/* Modal Content */
.modal-content {
    display: block;
    background-color:#C7D8C6;
    margin: 100px auto;
    padding: 20px 0;
    width: 80%;
    max-width: 700px;
    text-align: center;
    box-shadow: -4px -1px 57px -10px rgba(0,0,0,0.75);
    border-radius: 20px;
}
.modal-header{
    display: block;
    width: 100%;
}
h1{
    margin: 0 1em;
    text-align: left;
}
.btn-close {
    color: #aaaaaa;
    right: 0;
    float: right;
    margin-right: 50px;
    font-size: 28px;
    font-weight: bold;
}

.btn-close:hover,
.btn-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
