.container-condutor{
    background-color: #2d395a;
    width: 90%;
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
    height: 20vh;
    padding: 1em;
    min-height: 150px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 10px 10px 14px -5px rgba(0,0,0,0.75);

}
.container-foto{
    padding: 1em;
    margin-right: 1em;
}
.img-condutor{
    width: 100%;
    height: auto;
}
.container-content{
    margin-left: 2em;
    color: #b5b5b8;
}
.container-content h3{

}
.acoes{
    position: relative;
    top: -1.5em;
    width: 85%;
    max-width: 530px;
    margin: 0 auto;
    clear: left;
    display: flex;
    background-color: #3d5a80;
    box-shadow: 10px 10px 4px -5px rgba(0,0,0,0.75);
}