/*************SIDE-BAR********************************************/
.container-foto{
    width: 90%;
    border-radius: 50%;
    overflow: hidden;
    margin: 1em auto;
}
.foto-perfil{
    width: 100%;
    height: auto;
}


/********************************MAIN-CONTENT********************************************/
.main-content{
    background-color: #E0FBFC;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    grid-row: 2/3;
    padding: 1% 5%;
    grid-gap: 5%;
    grid-column: 2/3;
}

/**********************************MENUS****************************************************/
.menu{
    width: 100%;
    height: 100%;
    background-color: #98C1D9;
    border-radius: 10px;
    box-shadow: 10px 10px 21px -11px rgba(0,0,0,0.75);
    box-sizing: border-box;

}
.menu-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #3D5A80;
    display: block;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 0.5em 0 ;
}
.menu-body{
    overflow: auto;
    padding: 1em;
}
/****************************************ITEM-MENU**********************************************/
.item-menu{
    background-color: #293241;
    display: block;
    max-width: 350px;
    margin: 1em auto;
    border-radius: 10px;
    padding: 0.5em;
}
.item-title{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}
.item-img{
    float: right;
    font-size: 2em;
    color: white;
    margin-right: 0.5em;
}
.item-detail{
    color: white;
    display: block;
}

.alert{
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    margin: 2em auto;
    width: 90%;
    text-align: center;
}
.alert-img{
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.alert-text{
    display: inline;
    width: 40%;
}
/**************************************OUTROS******************************************/
.container-info{
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: 1em auto;
}

