.fundo{
    display: grid;
    grid-template-columns: 120px auto;
}

.side-bar{
    background-color: #80bdff;
    min-height: 100vh;
    display: grid;
    grid-template-rows:auto auto auto ;
}
.img-icon{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.perfil{
    background-color: #b1dfbb;
    display: grid;
    grid-template-columns:auto auto auto ;
}

