.main-content {
    display: flex;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 2800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#projeto-detalhes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #275a66;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.alterar-titulo {
    margin-top: 50px;
}
.alterar-area {
    margin-bottom: 10px;
}
.group-projeto {
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px;
}
.label-projeto {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    color: white;
    display: block;
}
.titulo-projeto {
    background: transparent;
    box-shadow: none;
    border: none;
    margin-top: 0;
}
.descricao-projeto {
    background: transparent;
    box-shadow: none;
    border: none;
    color: #c9c9c9;
}

#botaoExcluir {
    position: absolute;
    top: 10px;
    right: -10px;
}

#botaoAlterar{
    top: 10px;
    left: -10px;
    position: absolute;
}

#participantes {
    width: 100%;
    background-color: #275a66;
    color: white;
}
#seta {
    font-size: 3rem;
    text-align: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
}
#participantes-dropdown {
    padding: 20px 50px 50px;
    display: none;
}
#participantes-dropdown hr {
    border: #babaca solid 1px;
    max-width: 1000px;
}

.participante {
    margin-top: 10px;
    display: block;
    text-align: center;
}

.tarefas {
    width: 30%;
    box-sizing: border-box;
    padding-bottom: 30px;
    background-color: #275a66;
    display: inline-block;
    margin: 1%;
}
.cabecalho-tarefa {
    position: relative;
    top: 10px;
    margin-bottom: 30px;
    left: -10px;
    width: calc(100% + 20px);
    background-color: #ffdf69;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.5rem;
    text-align: center;
}

.detalhe {
    position: absolute;
    background-color: black;
    width: 10px;
    height: 20px;
    bottom: -13px;
    z-index: -10;
    right: 6px;
    transform: rotate(45deg);
}

.tarefa {
    text-decoration: none;
    display: block;
    margin: 10px 30px;
    padding: 20px 30px;
    background-color: #babaca;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow ease-in-out 100ms;
}
.tarefa:active, .tarefa:focus {
    border: #1285a9 solid 3px;
    outline: none;
    box-shadow: none;
}
.tarefa-title {
    display: block;
    color: black;
    font-size: 1.4rem;
    font-weight: bolder;
    margin-bottom: 4px;
}
.tarefa-gasto {
    color: black;
    display: block;
    margin-left: 5px;
}
#cabecalho-a-fazer {
    background-color: #12bfe5;
}
#cabecalho-fazendo{
    background-color: #ffdf69;
}
#cabecalho-concluidas {
    background-color: #67e69c;
}
@media (max-width: 1200px) {
    .group-projeto{
        width: 50%;
    }
    .tarefas {
        width: 100%;
        margin: 2%;
        max-width: 250px;
    }
}
@media (max-width: 600px) {
    .group-projeto{
        width: 100%;
    }
    .tarefas {
        max-width: none;
    }
}

.aviso-container {
    width: 100%;
    text-align: center;
}
.aviso-vazio {
    color: #cdd1d2;
}
.img-vazio {
    width: 20%;
    display: block;
    margin: 10px auto;
}
.botao-padrao {
    margin-bottom: 20px;
    text-align: center;
    display: block;
}
#header-excluir {
    background: #e45d5a;
    color: white;
}
.mensagemExcluir{
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}
#excluirProjeto {
    margin: 20px auto;
}
#funcionario {
    display: block;
    text-align: center;
    margin: 30px auto;
    text-align-last:center;
}

#adicionarFuncionario {
    margin-bottom: 20px;
}

