.main-content {
    display: flex;
    justify-content: center;
}
.main-container {
    width: 100%;
    max-width: 1800px;
}
#titulo {
    font-size: 2rem;
    font-weight: bolder;
    display: inline-block;
    margin-right: 5px;
}
.botao.aviso {
    display: none;
    font-size: 1rem;
    margin-bottom: 5px;
}
.botao.aviso i {
    position: relative;
    bottom: -2px;
}

.imprevistos-table {
    margin-top: 40px;
    width: 100%;
}

.imprevistos-header {
    background-color: #183d44;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    text-align: center;
    z-index: 10;
    font-weight: bold;
    font-size: 1.1rem;
    -webkit-box-shadow: 0 3px 2px #000;
    -moz-box-shadow: 0 3px 2px #000;
    box-shadow: 0 3px 2px #000;
}
.imprevistos-body {
    padding: 0 20px 20px;
    background-color: #1b5b62;
}
.imprevisto {
    padding: 20px 0 0;
    border-bottom: black solid 2px;
}
.imprevisto:last-of-type {
    border: none;
}
.imprevisto-info {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    color: white;
    text-align: center;
    display: grid;
}

.imprevisto span {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    justify-content: center;
}

.imprevisto-form {
    display: none;
}
.imprevisto-detalhes {
    margin-top: 20px;
    grid-column: 1/4 ;
    width: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imprevisto-detalhes.expandido {
    display: flex;
}
.detalhe-group {
    box-sizing: border-box;
    margin: 10px;
    max-width: 700px;
    display: inline-block;
}
.detalhe-nome {
    display: block;
    font-weight: bold;
}
.detalhe-valor {
    display: block;
}
.detalhe-group.total {
    display: none;
}
.detalhe-botoes{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.detalhe-botoes .botao {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.expande {
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    grid-column: 1/4;
    color: white;
}
.expande:focus {
    background-color: #1c8b92
}
.expande i {
    font-size: 2rem;
}
@media (max-width: 520px) {
    .imprevisto-info {
        grid-template-columns: 1fr 1fr;
    }
    .imprevistos-header {
        grid-template-columns: 1fr 1fr;
    }
    .detalhe-group.total {
        display: block;
    }
    .imprevisto .total {
        display: none;
    }
}
.alterar-select {
    margin: 0;
}
.imprevisto-group {
    margin: 0 10px;
}

.erro-container {
    width: 100%;
    max-width: 400px;
    padding: 20px 0 ;
    margin: 0 auto;
}
.erro-container figure {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}
.erro-container img {
    width: 100%;
}
.erro-texto {
    text-align: center;
    color: white;
    font-size: 1.2rem;
}


