<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/View/Default/css/reset.css">
    <link rel="stylesheet" href="/src/View/Default/css/material-icons.css">
    <link rel="stylesheet" href="/src/View/Default/css/botoes.css">
    <link rel="stylesheet" href="/src/View/Default/css/formulario.css">
    <link rel="stylesheet" href="/src/View/Default/css/modal.css">
    <link rel="stylesheet" href="/src/View/Default/css/body.css">
    <link rel="stylesheet" href="/src/View/Default/css/mensagem.css">
    <link rel="stylesheet" href="/src/View/Formulario/telaFormularios/styleFormularios.css">
    <title>LPM - Formulários</title>
</head>
<body>
<!--------- Mensagem ---------------->
<div class="mensagem" role="alert" tabindex="-1">
    <span id="mensagem-texto"></span>
    <button class="botao-fechar-mensagem" aria-hidden="true" tabindex="-1">
        <i class="material-icons botao-fechar-mensagem">close</i>
    </button>
</div>
<div class="fora-modal">
    <!--------------------- Header ------------------->
    <header class="main-header">
        <button id="botao-menu" aria-hidden="true" tabindex="-1">
            <i class="material-icons md-25">menu</i>
        </button>
        <img class="header-logo" src="/assets/images/logo2.png" alt="logotipo Lasse Project Manager">

        <button class="user-info" role="button" tabindex="0" aria-expanded="false" aria-label="Informações de">
            <span class="user-name" id="name"></span>
            <div class="container-user-img" role="img"></div>
        </button>
        <ul tabindex="-1" class="user-menu">
            <li>
                <a class="user-menu-item" id="perfil" href="#" tabindex="-1">
                    <i class="material-icons" aria-hidden="true">person</i>
                    Perfil
                </a>
            </li>
            <hr aria-hidden="true">
            <li>
                <button type="button" class="user-menu-item sair" id="sair" tabindex="-1">
                    <i class="material-icons" aria-hidden="true">cancel</i>
                    Sair
                </button>
            </li>
        </ul>
    </header>
    <!---------------------- Side Bar --------------------->
    <nav class="sidebar">
        <ul class="container-itens">
            <li>
                <a href="#" class="sidebar-item" id="dashboards">
                    <i class="material-icons" aria-hidden="true">dashboard</i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-item" id="projetos">
                    <i class="material-icons" aria-hidden="true">work</i>
                    Projetos
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-item" id="imprevistos">
                    <i class="material-icons" aria-hidden="true">book</i>
                    Imprevistos
                </a>
            </li>
            <li>
                <a href="#" id="formularios" class="sidebar-item">
                    <i class="material-icons" aria-hidden="true">assignment</i>
                    Formulários
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-item" id="graficos">
                    <i class="material-icons" aria-hidden="true">assessment</i>
                    Gráficos
                </a>
            </li>
        </ul>
    </nav>
    <!-------------------- Main Content ------------------->
    <main class="main-content">
        <div class="titulo">
            <h1>Formulários de Viagens</h1>
            <hr>
        </div>
        <div id="container-viagens" class="container-formularios">
            <div class="aviso-container" id="aviso-viagem">
                <img src="/assets/images/not-found.svg" class="ImgSemItens" alt="icone sem itens">
                <h4>Nenhum formulário encontrado!</h4>
                <h4>Navegue até uma viagem e clique em "Cadastrar e gerar formulário"</h4>
            </div>
        </div>
        <div class="titulo">
            <h1>Formulários de Compras</h1>
            <hr>
        </div>
        <div id="container-compras" class="container-formularios">
            <div class="aviso-container" id="aviso-compra">
                <img src="/assets/images/not-found.svg" class="ImgSemItens" alt="icone sem itens">
                <h4>Nenhum formulário encontrado!</h4>
                <h4>Navegue até uma compra e clique em "Cadastrar e gerar formulário"</h4>
            </div>
        </div>
    </main>
</div>
<script src="/src/View/Default/js/inert.js"></script>
<script src="/src/View/Default/js/body.js"></script>
<script src="/src/View/Default/js/mensagem.js"></script>
<script src="/src/View/Default/js/modal.js"></script>
<script src="/src/View/Default/js/formulario.js"></script>
<script src="/src/View/Default/js/funcoesPadrao.js"></script>
<script src="/src/View/Formulario/telaFormularios/funcoesFormularios.js"></script>
</body>
</html>
