<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/View/Default/css/body.css">
    <link rel="stylesheet" href="/src/View/Default/css/mensagem.css">
    <link rel="stylesheet" href="/src/View/Default/css/modal.css">
    <link rel="stylesheet" href="/src/View/Default/css/botoes.css">
    <link rel="stylesheet" href="/src/View/Default/css/formulario.css">
    <link rel="stylesheet" href="/src/View/Usuario/telaPerfil/stylePerfil.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Perfil Usuário</title>
</head>
<body>
    <div class="mensagem">
        <div class="mensagem-texto">
        </div>
        <div class="botao-fechar-mensagem">
            <i class="material-icons">close</i>
        </div>
    </div>
    <nav class="sidebar">
        <div class="container-itens">
            <div class="sidebar-item" id="dashboards">
                <i class="material-icons">dashboard</i>
                <span class="sidebar-item-text">Dashboard</span>
            </div>
            <div class="sidebar-item selecionado" id="perfil">
                <i class="material-icons">person</i>
                <span class="sidebar-item-text">Perfil</span>
            </div>
            <div class="sidebar-item" id="projetos">
                <i class="material-icons">work</i>
                <span class="sidebar-item-text">Projetos</span>
            </div>
            <div class="sidebar-item" id="imprevistos">
                <i class="material-icons">book</i>
                <span class="sidebar-item-text">Imprevistos</span>
            </div>
            <div class="sidebar-item" id="formularios">
                <i class="material-icons">assignment</i>
                <span class="sidebar-item-text">Formulários</span>
            </div>
            <div class="sidebar-item" id="graficos">
                <i class="material-icons">assessment</i>
                <span class="sidebar-item-text">Gráficos</span>
            </div>
        </div>
        <div class="container-sair">
            <i class="material-icons">cancel</i>
            <span class="btn-sair">Sair</span>
        </div>
    </nav>
    <header class="main-header">
        <img class="header-logo" src="/assets/images/logo2.png" alt="logotipo LPM">
        <div class="user-info">
            <span class="user-name"></span>
            <div class="container-user-img">
                <img src="/assets/files/default/perfil.png" class="user-img">
            </div>
        </div>
    </header>
    <main class="main-content">
        <div id="container-img-perfil">
            <img src="" id="img-perfil">
            <label for="foto" id="add-foto"><i class="material-icons">add_a_photo</i>Alterar foto</label>
            <input type="file" id="foto" name="foto" accept="image/*">
        </div>
        <form class="perfil-info">
            <button type="button" class="btn-excluir" id="ativaModal">Excluir</button>
            <button type="submit" class="btn-alterar">Alterar</button>
            <input class="perfil-title" id="login" type="text" placeholder="Nome de Usuário" autocomplete="off">
            <span id="tipo"></span>
            <select id="atuacao" class="form-select">
                <option value="Colaborador">Colaborador </option>
                <option value="Bolsista/Voluntário">Bolsista/Voluntário</option>
                <option value="Terceiros">Terceiros</option>
            </select>
            <hr>
            <div class="form-perfil">
                <div class="part-form">
                    <div class="form-group">
                        <label for="nome" class="perfil-label">Nome Completo: </label>
                        <input class="perfil-input" type="text" id="nome">
                    </div>
                    <div class="form-group">
                        <label for="dtNasc" class="perfil-label">Data de Nascimento: </label>
                        <input class="perfil-input" type="text" id="dtNasc">
                    </div>
                    <div class="form-group">
                        <label for="formacao" class="perfil-label">Formação: </label>
                        <input class="perfil-input" type="text" id="formacao">
                    </div>
                    <div class="form-group">
                        <label for="valorHora" class="perfil-label">Valor Hora: </label>
                        <input class="perfil-input" type="text" id="valorHora">
                    </div>
                </div>
                <div class="part-form">
                    <div class="form-group">
                        <label for="email" class="perfil-label">E-mail: </label>
                        <input class="perfil-input" type="text" id="email">
                    </div>
                    <div class="form-group">
                        <label for="cpf" class="perfil-label">CPF: </label>
                        <input class="perfil-input" type="text" id="cpf">
                    </div>
                    <div class="form-group">
                        <label for="rg" class="perfil-label">RG: </label>
                        <input class="perfil-input" type="text" id="rg">
                    </div>
                    <div class="form-group">
                        <label for="dtEmissao" class="perfil-label">Data de Emissão:</label>
                        <input class="perfil-input" type="text" id="dtEmissao">
                    </div>
                </div>
            </div>
        </form>
    </main>

    <section class="modal-background">
    </section>
    <div class="modal" id="modalExcluir">
        <div class="modal-header">
            <div class="modal-header-title">
                Exclusão
            </div>
            <div class="modal-header-close">
                <i class="material-icons">close</i>
            </div>
        </div>
        <div class="modal-conteudo">
            <span>Tem certeza que deseja excluir sua conta?</span>
            <span>Caso sim, digite <b>confirmar</b> e clique em excluir</span>
            <input class="form-input" type="text" autocomplete="off" id="inputExcluir">
            <button class="botao-padrao" id="excluir">Excluir</button>
        </div>
    </div>
<script src="/src/View/Default/js/requisicoes.js"></script>
<script src="/src/View/Default/js/mensagem.js"></script>
<script src="/src/View/Default/js/funcoesPadrao.js"></script>
<script src="/src/View/Default/js/modal.js"></script>
<script src="/src/View/Usuario/telaPerfil/funcoesPerfil.js"></script>
</body>
</html>
