.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    max-width: 1800px;
}
#titulo h1 {
    display: inline-block;
}
#titulo .botao {
    background-color: #c97bff;
    color: white;
}
#titulo hr {
    width: 100%;
    margin-bottom: 15px;
    max-width: 1800px;
}
.container-viagem {
    width: 100%;
    max-width: 1000px;
    background-color: #275a66;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    padding-bottom: 40px;
    z-index: 2;
}
h2 {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    background-color: #062d39;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: #06232e solid 5px;
    margin: 0 0 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.container-row {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(0,400px));
    column-gap: 20px;
    justify-content: space-around;
}
.viagem-span {
    font-size: 1.2rem;
    color: white;
    display: none;
    text-align: center;
}
#info-viagem {
    position: relative;
}
#info-viagem .alerta {
    position: absolute;
    top: -50px;
    right: -10px;
}
#info-viagem .info {
    top: -50px;
    left: -10px;
    position: absolute;
}
#primeiro-grupo {
    margin-top: 60px;
}
