<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/View/Default/css/reset.css">
    <link rel="stylesheet" href="/src/View/Default/css/material-icons.css">
    <link rel="stylesheet" href="/src/View/Default/css/botoes.css">
    <link rel="stylesheet" href="/src/View/Default/css/formulario.css">
    <link rel="stylesheet" href="/src/View/Default/css/modal.css">
    <link rel="stylesheet" href="/src/View/Default/css/body.css">
    <link rel="stylesheet" href="/src/View/Default/css/mensagem.css">
    <link rel="stylesheet" href="/src/View/Viagem/telaViagem/styleViagem.css">
    <title>LPM - Viagem</title>
    <style type="text/css">
        #passagem {
        }
    </style>
</head>
<body>
<!--------------- Mensagem ------------------>
<div class="mensagem" role="alert" tabindex="-1">
    <span id="mensagem-texto"></span>
    <button class="botao-fechar-mensagem" aria-hidden="true" tabindex="-1">
        <i class="material-icons botao-fechar-mensagem">close</i>
    </button>
</div>
<div class="fora-modal">
    <!--------------------- Header ------------------->
    <header class="main-header">
        <button id="botao-menu" aria-hidden="true" tabindex="-1">
            <i class="material-icons md-25">menu</i>
        </button>
        <img class="header-logo" src="/assets/images/logo2.png" alt="logotipo Lasse Project Manager">

        <button class="user-info" role="button" tabindex="0" aria-expanded="false" aria-label="Informações de">
            <span class="user-name" id="name"></span>
            <div class="container-user-img" role="img"></div>
        </button>
        <ul tabindex="-1" class="user-menu">
            <li>
                <a class="user-menu-item" id="perfil" href="#" tabindex="-1">
                    <i class="material-icons" aria-hidden="true">person</i>
                    Perfil
                </a>
            </li>
            <hr aria-hidden="true">
            <li>
                <button type="button" class="user-menu-item sair" id="sair" tabindex="-1">
                    <i class="material-icons" aria-hidden="true">cancel</i>
                    Sair
                </button>
            </li>
        </ul>
    </header>
    <!---------------------- Side Bar --------------------->
    <nav class="sidebar">
        <ul class="container-itens">
            <li>
                <a href="#" class="sidebar-item" id="dashboards">
                    <i class="material-icons" aria-hidden="true">dashboard</i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-item" id="projetos">
                    <i class="material-icons" aria-hidden="true">work</i>
                    Projetos
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-item" id="imprevistos">
                    <i class="material-icons" aria-hidden="true">book</i>
                    Imprevistos
                </a>
            </li>
            <li>
                <a href="#" id="formularios" class="sidebar-item">
                    <i class="material-icons" aria-hidden="true">assignment</i>
                    Formulários
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-item" id="graficos">
                    <i class="material-icons" aria-hidden="true">assessment</i>
                    Gráficos
                </a>
            </li>
        </ul>
    </nav>
    <!-------------------- Main Content ------------------->
    <main class="main-content">
        <div id="titulo">
            <h1>Viagem realizada por djlgf</h1>
            <button class="botao">Gerar Formulário</button>
            <hr class="divisoria-cabecalho">
        </div>
        <form class="container-viagem">
            <!-------------- Dados Viagem e Hospedagem -------------------------------->
            <h2 class="dados-title">Dados</h2>
            <div id="info-viagem">
                <button class="botao info" id="alterarViagem">Alterar</button>
                <button class="botao alerta" id="abreModalExclusaoViagem">Excluir</button>
                <div class="form-group" id="primeiro-grupo">
                    <label for="tipo" class="alterar-label">Tipo</label>
                    <select id="tipo" class="alterar-select">
                        <option value="Viagem a trabalho">Viagem a trabalho</option>
                        <option value="Evento/Congresso">Evento/Congresso</option>
                        <option value="Viagem treinamento/aprimoramento">Viagem treinamento/aprimoramento</option>
                    </select>
                </div>
                <div class="container-row">
                    <div class="form-group">
                        <label for="origem" class="alterar-label">Origem: </label>
                        <input class="alterar-input" id="origem" type="text">
                    </div>
                    <div class="form-group">
                        <label for="destino" class="alterar-label">Destino: </label>
                        <input class="alterar-input" id="destino" type="text">
                    </div>
                </div>
                <div class="container-row">
                    <div class="form-group">
                        <label for="dataIda" class="alterar-label">Data Ida</label>
                        <input class="alterar-input" id="dataIda" type="text">
                    </div>
                    <div class="form-group">
                        <label for="dataVolta" class="alterar-label">Data Volta</label>
                        <input class="alterar-input" id="dataVolta" type="text">
                    </div>
                </div>
                <div class="container-row">
                    <div class="form-group">
                        <label for="fonte" class="alterar-label">Fonte de Recurso</label>
                        <input class="alterar-input" id="fonte" type="text">
                    </div>
                    <div class="form-group">
                        <label for="atividade" class="alterar-label">Atividade</label>
                        <input class="alterar-input" id="atividade" type="text">
                    </div>
                </div>
                <div class="container-row">
                    <div class="form-group">
                        <label for="passagem" class="alterar-label">Passagem</label>
                        <input class="alterar-input"  id="passagem" type="text">
                    </div>
                    <div class="form-group">
                        <label for="tipoPassagem" class="alterar-label">Tipo de Passagem</label>
                        <select id="tipoPassagem" class="alterar-select">
                            <option value="Aérea nacional (com franquia de bagagem)">Aérea nacional (com franquia de bagagem)</option>
                            <option value="Aérea nacional (sem franquia de bagagem)">Aérea nacional (sem franquia de bagagem)</option>
                            <option value="Aérea internacional">Aérea internacional</option>
                            <option value="Terrestre nacional">Terrestre nacional</option>
                            <option value="Terrestre internacional">Terrestre internacional</option>
                        </select>
                    </div>
                </div>
                <div class="container-row">
                    <div class="form-group">
                        <label for="justificativa" class="alterar-label">Justificativa</label>
                        <textarea class="alterar-area" id="justificativa" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="observacoes" class="alterar-label">Observações</label>
                        <textarea class="alterar-area" id="observacoes" rows="5"></textarea>
                    </div>
                </div>
                <h2>Hospedagem </h2>
                <div class="container-row">
                    <div class="form-group">
                        <label for="dtEntradaHosp" class="alterar-label">Data de Entrada</label>
                        <input class="alterar-input" id="dtEntradaHosp" type="text">
                    </div>
                    <div class="form-group">
                        <label for="dtSaidaHosp" class="alterar-label">Data de Saída</label>
                        <input class="alterar-input" id="dtSaidaHosp" type="text">
                    </div>
                </div>
                <div class="container-row">
                    <div class="form-group">
                        <label for="horaEntradaHosp" class="alterar-label">Hora de Entrada</label>
                        <input class="alterar-input" id="horaEntradaHosp" type="text">
                    </div>
                    <div class="form-group">
                        <label for="horaSaidaHosp" class="alterar-label">Hora de Saída</label>
                        <input class="alterar-input" id="horaSaidaHosp" type="text">
                    </div>
                </div>
            </div>

            <!---------------------------------- Dados Transporte ---------------------------->
            <h2>Transporte </h2>
            <button class="botao info center" type="button" id="abreModalAlterarTransporte">Alterar</button>
            <div class="container-row">
                <div class="form-group">
                    <label class="alterar-label">Veículo</label>
                    <span class="viagem-span" id="span-veiculo"></span>
                </div>
                <div class="form-group">
                    <label class="alterar-label">Tipo de Veículo</label>
                    <span class="viagem-span" id="span-tipoVeiculo"></span>
                </div>
            </div>
            <div class="container-row">
                <div class="form-group">
                    <label  class="alterar-label">Data de Retirada</label>
                    <span class="viagem-span" id="span-dtRetirada"></span>
                </div>
                <div class="form-group">
                    <label class="alterar-label">Data de Devolução</label>
                    <span class="viagem-span" id="span-dtDevolucao"></span>
                </div>
            </div>
            <div class="container-row">
                <div class="form-group">
                    <label  class="alterar-label">Hora de Retirada</label>
                    <span class="viagem-span" id="span-horaRetirada"></span>
                </div>
                <div class="form-group">
                    <label  class="alterar-label">Hora de Devolução</label>
                    <span class="viagem-span" id="span-horaDevolucao"></span>
                </div>
            </div>
            <div class="form-group">
                <label  class="alterar-label">Nome do Condutor</label>
                <span class="viagem-span" id="span-condutor"></span>
            </div>
            <div class="container-row">
                <div class="form-group">
                    <label class="alterar-label">CNH do Condutor</label>
                    <span class="viagem-span" id="span-cnh"></span>
                </div>
                <div class="form-group">
                    <label class="alterar-label">Validade CNH</label>
                    <span class="viagem-span" id="span-validadeCNH"></span>
                </div>
            </div>

            <!------------------------ Dados Gastos ---------------------------->
            <h2>Gastos <button class="botao-adicionar">Novo</button></h2>
            <div id="container-gastos">
                <h4>Gasto</h4>
                <h4>Valor</h4>
            </div>
            <hr class="divisoria">
            <span class="alterar-input" id="totalGasto"></span>
        </form>
    </main>
</div>


<div class="modal-background"></div>
<!----------------- Modal Exclusao Viagem ---------------------->
<div class="modal" id="modalExclusaoViagem" role="dialog" tabindex="-1">
    <div class="modal-header alerta">
        <h2 class="modal-header-title">Excluir Viagem</h2>
        <button class="modal-close" type="button" aria-label="Fechar Modal">
            <i class="material-icons">close</i>
        </button>
    </div>
    <div class="modal-conteudo">
        <h3>Tem certeza que deseja excluir esta viagem?</h3>
        <h3>O formulário gerado por esta viagem também será excluido</h3>
        <button class="botao alerta center" id="excluirViagem">Excluir</button>
    </div>
</div>
<!----------------- Modal Alteracao Transporte ---------------------->
<div class="modal" id="modalAlteracaoTransporte" role="dialog" tabindex="-1">
    <div class="modal-header">
        <h2 class="modal-header-title">Excluir Viagem</h2>
        <button class="modal-close" type="button" aria-label="Fechar Modal">
            <i class="material-icons">close</i>
        </button>
    </div>
    <div class="modal-conteudo">
        <fieldset id="info-veiculo"  class="info-container ativado">
            <h2>Altere os dados do veiculo ou selecione um veiculo cadastrado</h2>
            <button type="button" class="botao aviso center" id="novoVeiculo">Escolher</button>
            <div id="veiculos" style="display: none">
                <!------ Veiculos Aqui ---------------->
            </div>
            <div id="form-veiculo">
                <div class="form-group">
                    <label class="form-label" for="veiculo">Nome do Veículo</label>
                    <input class="form-input" id="veiculo" type="text">
                </div>
                <div class="form-group">
                    <i class="material-icons select-seta">arrow_drop_down</i>
                    <label class="form-label label-select" for="tipoVeiculo">Tipo de Veículo</label>
                    <select id="tipoVeiculo" class="form-select">
                        <option value="" disabled selected></option>
                        <option value="Veículo locado">Veículo locado</option>
                        <option value="Transporte com parceiros/terceiros">Transporte com parceiros/terceiros</option>
                        <option value="Veículo Fundação PTI-BR">Veículo Fundação PTI-BR</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="dtRetirada">Data de Retirada</label>
                    <input class="form-input" id="dtRetirada" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="horaRetirada">Hora de Retirada</label>
                    <input class="form-input" id="horaRetirada" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="dtDevolucao">Data de Devolução</label>
                    <input class="form-input" id="dtDevolucao" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="horaDevolucao">Hora de Devolução</label>
                    <input class="form-input" id="horaDevolucao" type="text">
                </div>
            </div>
            <div class="botoes">
                <button class="botao sucesso proximo" type="button" id="irPaginaCondutor">Avançar</button>
            </div>
        </fieldset>
        <!------- Página Condutor ----------------->
        <fieldset id="info-condutor" class="info-container">
            <h2>Altere os dados do condutor ou escolha um condutor cadastrado</h2>
            <button type="button" class="botao aviso center" id="novoCondutor">Novo</button>
            <div id="condutores" style="display: none">
                <!-------- Condutores Aqui ---------->
            </div>
            <div id="form-condutor">
                <div class="form-group">
                    <label class="form-label" for="nomeCondutor">Nome do Condutor</label>
                    <input class="form-input" id="nomeCondutor" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="cnh">Número CNH</label>
                    <input class="form-input" id="cnh" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="validadeCNH">Validade da CNH</label>
                    <input class="form-input" id="validadeCNH" type="text">
                </div>
            </div>
            <div class="botoes">
                <button type="button" class="botao alerta anterior" id="voltarPaginaVeiculo">Voltar</button>
                <button type="button" class="botao sucesso proximo" id="atualizarTransporte">Atualizar</button>
            </div>
        </fieldset>
    </div>
</div>

<script src="/src/View/Default/js/inert.js"></script>
<script src="/src/View/Default/js/body.js"></script>
<script src="/src/View/Default/js/mensagem.js"></script>
<script src="/src/View/Default/js/modal.js"></script>
<script src="/src/View/Default/js/formulario.js"></script>
<script src="/src/View/Default/js/funcoesPadrao.js"></script>
<script src="/src/View/Viagem/telaViagem/funcoesViagem.js"></script>
</body>
</html>
