button{
    border:none;
}
button:focus{
    outline: none;
}

.btn-default{
    background-color: #EE6C4D;
    border: none;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border-radius: 10px;
    display: block;
    margin: 1em auto;
    cursor: pointer;
}
.side-bar-button{
    background: transparent;
    border: none;
    color: white;
}
.add-button{
    border-radius: 50%;
    position: fixed;
    z-index: 5;
    overflow: hidden;
    background-color: #3d5a80;
    width: 5em;
    height: 5em;
    right: 5%;
    bottom: 10%;
    padding: 1em;
    cursor: pointer;
}
.btn-opcao{
    width: 60px;
    margin: 0.2em;
    display: block;
    background-color: transparent;
    cursor: pointer;
}