.container-compras{
    background-color: #437ca8;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.header-row{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.container-row{
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    color: white;
}
.row-content{
    border-radius: 10px;
    padding: 1em 0;
    text-align: center;
    display: grid;
    background-color: #2d395a;
    grid-template-columns: 1fr 1fr 1fr;
}
.row-options{
    background-color: #ee6c4d;
    display: flex;
    width: 180px;
    margin-left: 0.5em;
    margin-bottom: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.row-options-header{
    display: none;
}
.btn-opcao{
    width: 50px;
}