#form-condutor{
    display: none;
    margin-left: 10px;
}
#form-condutor-alter{
    display: none;
    margin-left: 10px;
}
.container-veiculos{
    display: block;
    width: 90%;
    background-color: #2d395a;
    margin: 0 auto;
    padding: 1em 0;
}
.row-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    color: white;
    padding: 1em;
    text-align: center;
}
.container-header-row h3{

}
.container-row{
    padding: 1em 0;
    background-color: #ee6c4d;
    text-align: center;
    transform: rotateZ(-1deg) scaleX(1.05);

    margin-bottom: 2em;
    display: grid;
    grid-template-rows: auto 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    box-shadow: 10px 10px 0px 0px rgba(170,85,64,1);
}
.container-row h6{
    font-size: 1.2em;
}
.botoes{
    grid-row: 2/3;
    grid-column: 1/6;
    display: flex;
    justify-content: flex-start;
    padding: 0 5em;
    border-top: solid 3px rgba(170,85,64,1);
}
.btn-opcao{
    width: 50px;
}
