main{
    display: flex;
    width: 70%;
    max-width: 1800px;
    margin: 100px auto 0;
    height: 700px;
}

/****** PARTE Imagens**************/
.images {
    max-width: 1200px;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 70%;
    background: #0c7f99;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#ilustracao{
    width: 100%;
    z-index: 1;
}
#detalhe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/***************Parte Formulario*************************/
.container {
    max-width: 380px;
    height:100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-logo {
    height:30%;
    background-color: #06404d;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-logo img {
    width: 70%;
    background-color: #06404d;
}

#form-login {
    width: 100%;
    height: 60%;
    background-color: #06404d;
}

.botao-padrao {
    width: 45%;
    margin: 30px auto;
}

.container span {
    margin: 30px auto;
    color: #67e69c;
    cursor: pointer;
    font-size: 20px;
}

@media (max-height: 900px) {
    main{
        height: 600px;
    }
}

@media (max-width: 900px) {
    .images{
        display: none;
    }
    .container{
        width: 100%;
        margin: 0 auto;
    }
    main{
        margin: 0;
        width: 100%;
    }
}

#form-modal {
    justify-content: space-around;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
}
.form-part {
    width: 30%;
    min-width: 200px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

}
.form-part .form-group {
    width: 100%;
    margin: 20px 0;
}
.container-foto{
    border: #67e69c solid 5px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: contain;
    width: 180px;
    height: 180px;
    position: relative;
}
.foto{
    width: 100%;
}
#foto{
    display: none;
}
#add-foto{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    height: 40%;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,3));
    width: 100%;
    transition: all ease-in-out 300ms;
}
#add-foto:hover{
    height: 100%;
}
#form-admin{
    display: none;
}

