<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/View/Default/css/body.css">
    <link rel="stylesheet" href="/src/View/Default/css/mensagem.css">
    <link rel="stylesheet" href="/src/View/Default/css/modal.css">
    <link rel="stylesheet" href="/src/View/Default/css/botoes.css">
    <link rel="stylesheet" href="/src/View/Default/css/formulario.css">
    <link rel="stylesheet" href="/src/View/Usuario/styleUsuario.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Login</title>
</head>
<body>
    <div class="mensagem">
        <div class="mensagem-texto">
        </div>
        <div class="botao-fechar-mensagem">
            <i class="material-icons">close</i>
        </div>
    </div>
    <main>
        <section class="images">
            <img id="ilustracao" src="/assets/images/ilustracao.svg">
            <img id="detalhe" src="/assets/images/detalhe.png" alt="Detalhes do site">
        </section>
        <section class="container">
            <div class="container-logo">
                <img src="/assets/images/logo.png" alt="Ilustração de pessoas trabalhando">
            </div>
            <form class="form-padrao" id="form-login">
                <div class="form-group">
                    <label for="usuario" class="form-label">Usuário</label>
                    <input type="text" id="usuario" class="form-input">
                </div>
                <div class="form-group">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" id="senha" class="form-input">
                </div>
                <span id="botao-cadastro">Registre-se</span>
                <button type="submit" id="botao-enviar" class="botao-padrao">Entrar</button>
            </form>
        </section>
    </main>

    <section class="modal-background">
    </section>
    <div class="modal" id="modalCadastro">
        <div class="modal-header">
            <div class="modal-header-title">
                Cadastro de Usuários
            </div>
            <div class="modal-header-close">
                <i class="material-icons">close</i>
            </div>
        </div>
        <div class="modal-conteudo">
            <form class="form-padrao" id="form-modal" >
                <div class="form-part">
                    <div class="form-group">
                        <label for="usuario" class="form-label">Usuário</label>
                        <input type="text" id="usuario" class="form-input">
                    </div>
                    <div class="form-group">
                        <label for="usuario" class="form-label">Usuário</label>
                        <input type="text" id="usuario" class="form-input">
                    </div>
                    <div class="form-group">
                        <label for="usuario" class="form-label">Usuário</label>
                        <input type="text" id="usuario" class="form-input">
                    </div>
                </div>
                <div class="form-part">
                    <div class="form-group">
                        <label for="usuario" class="form-label">Usuário</label>
                        <input type="text" id="usuario" class="form-input">
                    </div>
                    <div class="form-group">
                        <label for="usuario" class="form-label">Usuário</label>
                        <input type="text" id="usuario" class="form-input">
                    </div>
                    <div class="form-group">
                        <label for="usuario" class="form-label">Usuário</label>
                        <input type="text" id="usuario" class="form-input">
                    </div>

                </div>
            </form>
        </div>
    </div>


<script src="/src/View/Default/js/mensagem.js"></script>
<script src="/src/View/Default/js/requisicoes.js"></script>
<script src="/src/View/Default/js/formulario.js"></script>
<script src="/src/View/Default/js/modal.js"></script>
<script src="/src/View/Usuario/funcoesUsuario.js"></script>
</body>
</html>
