.container-titulo {
    max-width: 1800px;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto 5px;
}
.dashboard {
    margin: 0 auto;
    max-width: 1800px;
    display: grid;
    column-gap: 40px;
    grid-template-columns:400px auto;
}
hr{
    margin-bottom: 40px;
}
.container-graficos1 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: 100%;
    margin-bottom: 40px;
    padding: 30px;
    height: 500px;
    background-color: #275a66;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.container-grafico2 {
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 600px;
    grid-column: 1/3;
    width: 100%;
    background-color: #275a66;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.dash-item{
    display: block;
    background-color: #275a66;
    margin: 0 auto 40px;
    padding: 0 40px 60px 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.dash-item:last-of-type {
    margin-bottom: 0;
}
.item-in {
    position: relative;
    top: -10px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.item-title{
    font-size: 1.6rem;
    font-weight: bold;
}
.projetos .item-in {
    background: #12bfe5;
}
.formularios .item-in {
    background-color: #ffdf69;
}
.imprevistos .item-in {
    background-color: #bbd070;
}
.dash-item i{
    cursor: pointer;
    float: right;
    color: white;
    font-size: 3rem;
}
.item-detail {
    display: block;
    margin: 10px 0 ;
}
@media (max-width: 1100px ) {
    .dashboard {
        display: block;
    }
    .itens {
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }
}
#graf{
    grid-column: 1/3;
}
.aviso-sem-dados {
    display: none;
}
.aviso-sem-dados img {
    width: 80%;
    display: block;
    max-width: 200px;
    margin: 0 auto;
}
.aviso-sem-dados h3 {
    text-align: center;
    color: white;
    font-size: 1rem;
    margin: 10px 0;
}
.dashboard h2 {
    max-width: 1800px;
    width: 100%;
    font-size: 1.2rem;
    background-color: #062d39;
    color: white;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: #06232e solid 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    text-align: center;
}
