<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/View/Default/css/body.css">
    <link rel="stylesheet" href="/src/View/Default/css/mensagem.css">
    <link rel="stylesheet" href="/src/View/Default/css/modal.css">
    <link rel="stylesheet" href="/src/View/Default/css/botoes.css">
    <link rel="stylesheet" href="/src/View/Default/css/formulario.css">
    <link rel="stylesheet" href="/src/View/Usuario/telaDashboard/styleDashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Dashboard</title>
</head>
<body>
    <div class="mensagem">
        <div class="mensagem-texto">
        </div>
        <div class="botao-fechar-mensagem">
            <i class="material-icons">close</i>
        </div>
    </div>
    <aside class="sidebar">

    </aside>
    <header class="main-header">
        <img class="header-logo" src="/assets/images/logo2.png" alt="logotipo LPM">
        <div class="user-info">
            <span class="user-name">LYNCONEBB</span>
            <div class="container-user-img">
                <img src="/assets/files/default/perfi.png" class="user-img">
            </div>
        </div>
    </header>



<script src="/src/View/Default/js/mensagem.js"></script>
<script src="/src/View/Default/js/requisicoes.js"></script>
<script src="/src/View/Default/js/formulario.js"></script>
<script src="/src/View/Default/js/modal.js"></script>
<script src="/src/View/Usuario/telaDashboard/funcoesDashboard.js"></script>
</body>
</html>
