<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/View/Default/css/body.css">
    <link rel="stylesheet" href="/src/View/Default/css/mensagem.css">
    <link rel="stylesheet" href="/src/View/Default/css/botoes.css">
    <link rel="stylesheet" href="/src/View/Usuario/telaDashboard/styleDashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Dashboard</title>
</head>
<body>
    <div class="mensagem">
        <div class="mensagem-texto">
        </div>
        <div class="botao-fechar-mensagem">
            <i class="material-icons">close</i>
        </div>
    </div>
    <nav class="sidebar">
        <div class="container-itens">
            <div class="sidebar-item selecionado" id="dashboards">
                <i class="material-icons">dashboard</i>
                <span class="sidebar-item-text">Dashboard</span>
            </div>
            <div class="sidebar-item" id="perfil">
                <i class="material-icons">person</i>
                <span class="sidebar-item-text">Perfil</span>
            </div>
            <div class="sidebar-item" id="projetos">
                <i class="material-icons">work</i>
                <span class="sidebar-item-text">Projetos</span>
            </div>
            <div class="sidebar-item" id="imprevistos">
                <i class="material-icons">book</i>
                <span class="sidebar-item-text">Imprevistos</span>
            </div>
            <div class="sidebar-item" id="formularios">
                <i class="material-icons">assignment</i>
                <span class="sidebar-item-text">Formulários</span>
            </div>
            <div class="sidebar-item" id="graficos">
                <i class="material-icons">assessment</i>
                <span class="sidebar-item-text">Gráficos</span>
            </div>
        </div>
        <div class="container-sair">
            <i class="material-icons">cancel</i>
            <span class="btn-sair">Sair</span>
        </div>
    </nav>
    <header class="main-header">
        <img class="header-logo" src="/assets/images/logo2.png" alt="logotipo LPM">
        <div class="user-info">
            <span class="user-name"></span>
            <div class="container-user-img">
                <img src="/assets/files/default/perfil.png" class="user-img" alt="Foto de Perfil">
            </div>
        </div>
    </header>
    <main class="main-content">
        <div class="itens">
            <div class="dash-item projetos">
                <div class="item-in">
                    <span class="item-title">Projetos</span>
                    <span class="item-detail" id="qtdProjetos"></span>
                </div>
                <i class="material-icons" id="telaProjetos">arrow_forward</i>
            </div>
            <div class="dash-item formularios">
                <div class="item-in">
                    <span class="item-title">Formulários</span>
                    <span class="item-detail" id="qtdFormularios"></span>
                </div>
                <i class="material-icons" id="telaFormularios">arrow_forward</i>
            </div>
            <div class="dash-item imprevistos">
                <div class="item-in">
                    <span class="item-title">Imprevistos</span>
                    <span class="item-detail" id="qtdImprevistos"></span>
                </div>
                <i class="material-icons" id="telaImprevistos">arrow_forward</i>
            </div>
        </div>
        <div class="graficos1">

        </div>
        <div class="graficos2">

        </div>
    </main>

<script src="/src/View/Default/js/requisicoes.js"></script>
<script src="/src/View/Default/js/mensagem.js"></script>
<script src="/src/View/Default/js/funcoesPadrao.js"></script>
<script src="/src/View/Usuario/telaDashboard/funcoesDashboard.js"></script>
</body>
</html>
