<html>
<head>
    <title>LPM - Cadastro De Funcionários</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/estiloFuncionario.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="painel">
    <div class="row">
        <form action="../../Control/FuncionarioControl.php" method="post" class="w-75 ml-auto mr-auto">
            <div class="form-group">
                <label for="nome" class="form-label" >Nome Completo</label>
                <input type="text" class="form-input" name="nome" id="nome">
                <div class="det1"></div>
                <div class="det2"></div>
                <div class="det3"></div>
                <div class="det4"></div>
            </div>
            <div class="form-group">
                <label for="email" class="form-label" >E-mail</label>
                <input type="text" class="form-input" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="usuario" class="form-label">Nome de Usuário</label>
                <input type="text" class="form-input" name="usuario" id="usuario">
            </div>
            <div class="form-group">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-input" name="senha" id="senha">

            </div>
            <div class="form-group">
                <label for="dtNasc" class="form-label">Data de Nascimento</label>
                <input type="text" class="form-input" name="dtNasc" id="dtNasc">

            </div>
            <div class="row ce">
                <div class="form-group col-sm-5 mr-5 ml-3">
                    <label for="rg" class="form-label">RG</label>
                    <input type="text" class="form-input" name="rg" id="rg">
                </div>
                <div class="form-group col-sm-5">
                    <label for="dtEmissao" class="form-label">Dt. Emissão</label>
                    <input type="text" class="form-input" name="dtEmissao" id="dtEmissao">
                </div>
            </div>
            <div class="form-group">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" class="form-input" name="cpf" id="cpf">
            </div>
                <div class="row">
                    <div class="form-group col-sm-5 ml-3 mr-5">
                        <label for="formacao" class="form-label">Formação</label>
                        <input type="text" class="form-input" name="formacao" id="formacao">
                    </div>
                    <div class="form-group col-sm-5 ">
                        <label for="valorHora" class="form-label">Valor Hora</label>
                        <input type="text" class="form-input" name="valorHora" id="valorHora" >
                    </div>
                </div>
                <label for="atuacao">Atuação</label>
                <select name="atuacao" class="custom-select" id="atuacao">
                    <option value="Colaborador" selected>Colaborador</option>
                    <option value="Terceiros">Terceiros</option>
                    <option value="Bolsista/Voluntário">Bolsista/Voluntário</option>
                </select>
            <input type="hidden" value="1" name="tipo">
            <input type="hidden" value="1" name="acao">
            <input type="submit" value="Cadastrar" class="btn btn-danger">
            <button class="btn btn-dark">Ola</button>
        </form>
    </div>
</div>
<script src="../../js/jquery.js"></script>
<script src="../../js/jquery.mask.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="../../js/funcoesFuncionario.js"></script>
</body>
</html>
