body{
    background-color: #cdd1d2;
    font-family: 'Roboto', sans-serif;
}
input[type="checkbox"] {
    display: none;
}
/*********header*******************/
.main-header {
    top: 0;
    left: 0;
    z-index: 3;
    position: fixed;
    width: 100%;
    background: #67e69c;
    height: 60px;
    padding: 10px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.header-logo{
    height: 100%;
    width: auto;
}
.user-info {
    display: flex;
    align-items: center;
    height: 100%;
}
.user-name {
    color: #06404d;
    font-size: 1.2rem;
    margin-right: 50px;
}
.container-user-img {
    position: relative;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.user-img {
    width: 100%;
    object-fit: cover;
}


/**************sidebar********************/
.sidebar{
    z-index: 2;
    left: 0;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #06404d;
}
.sidebar-item {
    font-size: 1.2rem;
    color: white;
    display: block;
    padding: 20px 20px 10px 30px;
    cursor: pointer;
}
.sidebar-item:first-of-type {
    margin-top: 80px;
}
.sidebar-item.selecionado{
    background: #275a66;
}
.sidebar-item:hover, .sidebar-item:active{
    background: #275a66;
}

.btn-sair {
    font-size: 1.2rem;
    position: relative;
    vertical-align: bottom;
    top: -4px;
}
.container-sair {
    display: block;
    padding: 20px 20px 40px 30px;
    cursor: pointer;
    color: #e45d5a;
}
/**Container de Conteudo*/
.main-content {
    z-index: 1;
    top:60px;
    box-sizing: border-box;
    width: calc(100% - 200px);
    left: 200px;
    position: absolute;
    padding: 40px;
}
@media (max-width: 600px ) {
    .header-logo{
        display: none;
    }
    .main-header{
        justify-content: flex-end;
    }
    .sidebar-item-text{
        display: none;
    }
}
@media (max-width: 700px ) {

    .sidebar-item-text{
        display: none;
    }
    .sidebar{
        width: 80px;
    }
    .main-content{
        width: calc(100% - 80px);
        left: 80px;
        padding: 20px 5px !important;
    }
}
@media (max-height: 490px) {
    .sidebar {
        overflow-y: scroll;
    }
}




