body{
    background-color: #cdd1d2;
    min-width: 150px;
    font-family: 'Roboto', sans-serif;
}
.escondeVisualmente {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*********header*******************/
.main-header {
    top: 0;
    left: 0;
    z-index: 3;
    position: fixed;
    width: 100%;
    background: #67e69c;
    height: 60px;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.header-logo{
    height: 100%;
    width: auto;
}
.user-info {
    display: flex;
    align-items: center;
    height: 100%;
    background: transparent;
    border: none;
    padding: 0 10px;
    cursor: pointer;
}
.user-info:focus, .user-info:hover {
    background: #99F8C1;
    outline: none;
}
.user-name {
    color: #06404d;
    font-size: 1.2rem;
    margin-right: 10px;
}
.container-user-img {
    position: relative;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: padding-box;
}

#botao-menu {
    border: none;
    background: transparent;
    vertical-align: bottom;
    cursor: pointer;
    display: none;
}
#check:checked ~ .sidebar {
    transform: translateX(200px);
}

.user-menu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    padding: 20px;
    top: 74px;
    right: 10px;
    background: #203440;
    max-width: 200px;
    width: 90%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    box-sizing: border-box;
    transition: opacity ease-in-out 300ms;
}
.user-menu::before {
    content:"";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #203440;
    position: absolute;
    top: -13px;
    right: 60px;
}
.user-menu.ativo {
    opacity: 1;
    pointer-events: all;
}
.user-menu-item {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.user-menu-item.sair{
    color: #e45d5a;
}
/**************sidebar********************/
.sidebar{
    z-index: 2;
    left: 0;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #06404d;
    transition: transform ease-in-out 300ms;
}
.sidebar-item {
    font-size: 1.2rem;
    color: white;
    padding: 20px 20px 10px 30px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.container-itens li:first-child {
    margin-top: 80px;
}
.sidebar-item.selecionado{
    background: #275a66;
}
.sidebar-item:hover, .sidebar-item:active,.sidebar-item:focus{
    background: #1b6f76;
}
.sidebar-item.sair {
    color: #e45d5a;
}
/**Container de Conteudo*/
.main-content {
    z-index: 1;
    top:60px;
    box-sizing: border-box;
    width: calc(100% - 200px);
    left: 200px;
    position: absolute;
    padding: 40px;
}

@media (max-width: 700px ) {
    .header-logo{
        display: none;
    }
    .user-name {
        display: none;
    }
    .main-content{
        width: 100%;
        left: 0;
        padding: 20px 5px !important;
    }
    #botao-menu {
        display: block;
    }
    .sidebar {
        left: -200px;
    }
    .sidebar.ativa {
        transform: translateX(200px);
    }
}
@media (max-height: 490px) {
    .sidebar {
        overflow-y: scroll;
    }
}

.container-erro {
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-img-erro {
    width: 100%;
    max-width: 200px;
}
.container-img-erro img {
    width: 100%;
}
.container-img-erro h1 {

}
.container-img-erro h2 {

}




