.botao {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    padding: 10px 20px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    transition: transform ease-in-out 100ms, box-shadow ease-in-out 100ms;
}
.botao:active {
    outline: none;
    transform: scale(0.98);
    box-shadow: none;
}
.botao:focus {
    outline: none;
}
.botao.alerta {
    background-color: #e45d5a;
    color: white;
}
.botao.sucesso {
    background-color: #67e69c;
}
.botao.info {
    background-color: #12bfe5;
    color: white;
}
.botao.aviso {
    background-color: #ffdf69;
}
.botao.center {
    display: block;
    margin: 0 auto;
}

