.form-padrao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-group {
    width: 60%;
    margin: 30px auto;
    position: relative;
}
.form-label {
    cursor: text;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    transition: all ease-in-out 300ms;
}
.form-label.selecionado {
    bottom: 1.7rem;
    font-size: 0.8rem;
    opacity: 0.5;
}
.form-input {
    font-size: 1.2rem;
    border: none;
    border-bottom: #ffffff solid 1px;
    background-color: transparent;
    width: 100%;
    color: white;
}
.form-group::after {
    bottom: -4px;
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 5px;
    z-index: 10;
    background: #babaca;
    transition: all ease-in-out 300ms;

}
.form-group.selecionado::after {
    width: 100%;
}

.form-group.errado::after {
    width: 100%;
    background: #e45d5a;
}

.form-group.certo::after {
    width: 100%;
    background: #67e69c;
}

.form-input:focus {
    outline: none;
}
.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus{
    -webkit-text-fill-color: #06404d;
}

