.form-padrao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-group {
    width: 60%;
    margin: 30px auto;
    position: relative;
}
.form-label {
    cursor: text;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    transition: all ease-in-out 300ms;
}
.form-label.selecionado {
    bottom: 1.7rem;
    font-size: 0.8rem;
    opacity: 0.5;
}
.form-input {
    font-size: 1.2rem;
    border: none;
    border-bottom: #ffffff solid 1px;
    background-color: transparent;
    width: 100%;
    color: white;
}
.form-group::after {
    bottom: -4px;
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 5px;
    z-index: 10;
    background: #babaca;
    transition: all ease-in-out 300ms;

}
.form-group.selecionado::after {
    width: 100%;
}

.form-group.errado::after {
    width: 100%;
    background: #e45d5a;
}

.form-group.certo::after {
    width: 100%;
    background: #67e69c;
}

.form-input:focus {
    outline: none;
}
@-webkit-keyframes autofill {
    to {
        color: white;
        font-size: 1.2rem;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
.checkbox-label {
    display: inline-block;
    color: white;
    top: -3px;
    position: relative;
}
.form-checkbox {
    bottom: 0;
    position : relative ;
    display : inline-block;
    width : 40px;
    cursor: pointer;
    height : 20px;
    background-color: #babaca;
    border-radius: 20px;
}
.form-checkbox::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all ease-in-out 0.3s;
}
.real-checkbox:checked + .form-checkbox::after {
    left : 20px;
}
.real-checkbox:checked + .form-checkbox {
    background-color: #67e69c;
}

.form-select{
    width: 100%;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    border:none;
    border-bottom: white solid 1px;
    color: white;
    font-size: 1.2rem;
}
.form-select:focus{
    -moz-outline-color:transparent;
    outline: none;
}

#select-seta{
    font-size: 1.2rem;
    color: white;
    position: absolute;
    right: 0;
    pointer-events: none;
}

.form-select option {
    background-color: #06404d;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
}
