body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: minmax(100px,5%) auto;
    grid-template-rows: 150px auto;
    background-color: #E0FBFC ;
}
/*************************header********************************************************/
.page-header{
    display: grid;
    grid-template-rows: auto auto;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #E0FBFC;
    text-align: center;
}
.titulo-header{
    font-weight: bolder;
    margin-top: 0.5em;
    font-size: 3em;
    text-shadow: 1px 1px 2px black;
}
/**********************************side-bar******************************************************/
.side-bar-back{
    grid-row: 1/3;
    grid-column: 1/2;
}
.side-bar{
    background-color: #293241;
    height: 100%;
    min-height: 100vh;
    width: 5%;
    min-width: 100px;
    display: grid;
    position: fixed;
    grid-template-rows:auto auto auto ;
}
.side-bar-start{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}
.side-bar-middle{
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
.side-bar-end{
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}
.side-bar-icon{
    width: 50%;
    height: auto;
    display: block;
    margin: 1em auto;
    cursor: pointer;
}
.img-icon{
    width: 100%;
    height: auto;
}
/************************************************main-content*****************************************************/
.main-content{
    background-color: #E0FBFC;
    grid-row: 2/3;
    padding: 1% 5%;
    grid-column: 2/3;
}

a:hover, a:focus{
    text-decoration: none;
}