.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background: black;
    opacity: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    transition: opacity ease-in 300ms;
}

.modal-background.ativo {
    opacity: 0.7;
    pointer-events: all;
}

.modal {
    z-index: 100;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    top: -1000px;
    position: absolute;
    margin: 40px auto;
    width: 95%;
    max-width: 1000px;
    background-color: #06404d;
    transition: all ease-in-out 300ms 300ms;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
.modal.ativo {
    pointer-events: all;
    opacity: 1;
    transform: translateY(1050px);
}

.modal-header {
    position: relative;
    top: 20px;
    left: -2.5%;
    width: 105%;
    display: flex;
    justify-content: space-between;
    background-color: #67e69c;
    padding: 20px 0 ;
    align-items: center;
}
.modal-header.alerta {
    background: #e45d5a;
}
.modal-header-title {
    padding: 10px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
    color: #06404d;
}
.modal-close {
    margin-right: 20px;
    cursor: pointer;
    font-size: 2rem;
    background: transparent;
    border: none;
    color: #5a6268;
    transition: transform ease-in-out 300ms;
}
.modal-close:focus {
    transform: scale(1.2);
    color: #06232e;
    outline: none;
}

.modal-header-close:hover, .modal-header-close:active {
    color: black;
}

.modal-conteudo {
    margin-top: 40px;
    width: 100%;
}

/*
<div class="modal-background">
</div>
<div class="modal" id="" role="dialog" tabindex="-1">
    <div class="modal-header alerta">
        <h2 class="modal-header-title"></h2>
        <button class="modal-close" type="button" aria-label="Fechar Modal">
            <i class="material-icons">close</i>
        </button>
    </div>
    <div class="modal-conteudo">

    </div>
</div>

 */
