.main-content{
    display: block;
}
.container-tarefa{
    background-color: #2d395a;
    border-radius: 10px;
    margin: 0 auto;
    padding: 1em;
}
.container-row{
    transform: scale(1.1);
    background-color: #3d5a80;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 45px;
    margin: 2em 0;
    box-shadow: 3px 7px 20px -7px rgba(0,0,0,0.75);
    transition: transform ease-in-out 200ms;
}
.container-header-row{
    transform: scale(1.1);
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0.3em 0;
    padding: 1em 0;
}
.container-row:hover{
    transform: scale(1);
}
.header-text{
    color: white;
    font-weight: bolder;
    text-align: center;
}
.cell{
    color: white;
    text-align: center;
}
.cell-detail{
    margin: 1em 0;
    font-size: 1.2em;
    display: block;
}
.row-footer{
    grid-row: 2/3;
    grid-column: 1/6;
    display: flex;
    justify-content: space-between;
    background-color: #437ca8;
}
.acoes{
    margin: 0 2em;
    display: flex;
}
