<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/View/Default/css/reset.css">
    <link rel="stylesheet" href="/src/View/Default/css/material-icons.css">
    <link rel="stylesheet" href="/src/View/Default/css/botoes.css">
    <link rel="stylesheet" href="/src/View/Default/css/formulario.css">
    <link rel="stylesheet" href="/src/View/Default/css/modal.css">
    <link rel="stylesheet" href="/src/View/Default/css/body.css">
    <link rel="stylesheet" href="/src/View/Default/css/mensagem.css">
    <link rel="stylesheet" href="/src/View/Projeto/telaDashProjetos/styleProjetos.css">
    <title>LPM - Projetos</title>
</head>
<body>
<!--------- Mensagem ---------------->
<div class="mensagem" role="alert" tabindex="-1">
    <span id="mensagem-texto"></span>
    <button class="botao-fechar-mensagem" aria-hidden="true" tabindex="-1">
        <i class="material-icons botao-fechar-mensagem">close</i>
    </button>
</div>
<div class="fora-modal">
    <!--------------------- Header ------------------->
    <header class="main-header">
        <button id="botao-menu" aria-hidden="true" tabindex="-1">
            <i class="material-icons md-25">menu</i>
        </button>
        <img class="header-logo" src="/assets/images/logo2.png" alt="logotipo Lasse Project Manager">

        <button class="user-info" role="button" tabindex="0" aria-expanded="false" aria-label="Informações de">
            <span class="user-name" id="name"></span>
            <div class="container-user-img" role="img"></div>
        </button>
        <ul tabindex="-1" class="user-menu">
            <li>
                <a class="user-menu-item" id="perfil" href="#" tabindex="-1">
                    <i class="material-icons" aria-hidden="true">person</i>
                    Perfil
                </a>
            </li>
            <hr aria-hidden="true">
            <li>
                <button type="button" class="user-menu-item sair" id="sair" tabindex="-1">
                    <i class="material-icons" aria-hidden="true">cancel</i>
                    Sair
                </button>
            </li>
        </ul>
    </header>
    <!---------------------- Side Bar --------------------->
    <nav class="sidebar">
        <ul class="container-itens">
            <li>
                <a href="#" class="sidebar-item" id="dashboards">
                    <i class="material-icons" aria-hidden="true">dashboard</i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-item" id="projetos">
                    <i class="material-icons" aria-hidden="true">work</i>
                    Projetos
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-item" id="imprevistos">
                    <i class="material-icons" aria-hidden="true">book</i>
                    Imprevistos
                </a>
            </li>
            <li>
                <a href="#" id="formularios" class="sidebar-item">
                    <i class="material-icons" aria-hidden="true">assignment</i>
                    Formulários
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-item" id="graficos">
                    <i class="material-icons" aria-hidden="true">assessment</i>
                    Gráficos
                </a>
            </li>
        </ul>
    </nav>
    <!-------------------- Main Content ------------------->
    <main class="main-content">
        <header class="cabecalho">
            <span id="titulo-cabecalho">Projetos de </span>
            <button id="abreModal" class="botao aviso"><i class="material-icons md-1">library_add</i>Novo</button>
            <hr class="cabecalho-divisoria">
        </header>
        <div id="container-aviso">
            <img src="/assets/images/not-found.svg" class="aviso-img">
            <span class="aviso"><b>Nenhum Projeto encontrado!</b></span>
            <span>Você pode criar um agora mesmo ou pedir para outro usuário adiciona-lo em seu projeto</span>
        </div>
        <div id="dash-projetos">

        </div>
    </main>
</div>

<div class="modal-background">
</div>

<div class="modal" id="modalCadastro" role="dialog" tabindex="-1">
    <div class="modal-header">
        <h2 class="modal-header-title">Cadastrar Projeto</h2>
        <button class="modal-close" type="button" aria-label="Fechar Modal">
            <i class="material-icons">close</i>
        </button>
    </div>
    <div class="modal-conteudo">
        <form class="form-padrao">
            <div class="form-group">
                <label class="form-label" for="nome">Nome</label>
                <input type="text" class="form-input" id="nome">
            </div>
            <div class="form-group">
                <label class="form-label" for="descricao">Descrição</label>
                <input type="text" class="form-input" id="descricao">
            </div>
            <div class="form-group">
                <label class="form-label" for="numCentroCusto">Número Centro de Custo</label>
                <input type="text" class="form-input" id="numCentroCusto">
            </div>
            <div class="form-group">
                <label class="form-label" for="dataCriacao">Data de Criação</label>
                <input type="text" class="form-input" id="dataCriacao">
            </div>
            <div class="form-group">
                <label class="form-label" for="dataFinalizacao">Data de Finalização</label>
                <input type="text" class="form-input" id="dataFinalizacao">
            </div>
            <button class="botao sucesso center" id="cadastrarProjeto">Cadastrar</button>
        </form>
    </div>
</div>
<script src="/src/View/Default/js/inert.js"></script>
<script src="/src/View/Default/js/body.js"></script>
<script src="/src/View/Default/js/mensagem.js"></script>
<script src="/src/View/Default/js/modal.js"></script>
<script src="/src/View/Default/js/formulario.js"></script>
<script src="/src/View/Default/js/funcoesPadrao.js"></script>
<script src="/src/View/Projeto/telaDashProjetos/funcoesProjeto.js"></script>
</body>
</html>
