.container {
    width: 100%;
    max-width: 1800px;
}
#tarefa-detalhes {
    width: 100%;
    background-color: #275a66;
}
#detalhe-conteudo{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
#nome {
    background-color: #275a66;
    border: none;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: white;
}
#descricao {
    background: transparent;
    resize: none;
    border: none;
    width: 100%;
    text-align-last: center;
    text-align: center;
}
.detalhe-input {
    background: transparent;
    border: none;
}

#nome:focus, #descricao:focus, .detalhe-input:focus {
    outline: none;
}

