.main-content {
    display: flex;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 1800px;
}
#tarefa-detalhes {
    width: 100%;
    background-color: #275a66;
    margin-bottom: 20px;
}
#detalhe-conteudo{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#botaoAlterarTarefa {
    position: absolute;
    top: 10px;
    left: -10px;
}
#botaoAbreExcluirTarefa {
    position: absolute;
    top: 10px;
    right: -10px;
}
.tarefa-group {
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .tarefa-group {
        width: 50%;
    }
}
@media (max-width: 600px) {
    .tarefa-group {
        width: 100%;
    }
}
.alterar-titulo {
    margin-top: 50px;
}
.alterar-area {
    margin-bottom: 20px;
}
.alterar-select {
    margin: 0 ;
}
.tabTitulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin:10px 0;
    display: inline-block;
}
#viagens {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 10px;
    scrollbar-color: #323232 #cdd1d2;
    scrollbar-width: thin;
}
#viagens::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
#viagens::-webkit-scrollbar {
    height: 10px;
    background-color: transparent;
}
#viagens::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #babaca;
}
.viagem {
    box-sizing: border-box;
    width: 350px;
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: steelblue;
    margin: 0 20px;
    display: inline-block;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    cursor: pointer;
}
.viagem:focus, .viagem:hover {
    background-color: #49aee3;
    outline: none;
}
.viagem-label {
    display: block;
    margin-bottom: 5px;
}
.viagem hr{
    border: solid white 1px;
}
.viagem h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.botoes-container {
    display: flex;
    justify-content: space-between;
}
.ImgSemItens {
    width: 50%;
    max-width: 50px;
    display: block;
    margin: 10px auto;
}
.aviso-container {
    text-align: center;
    display: none;
}
.aviso-container h4 {
    margin: 5px 0;
    font-weight: normal;
}

.texto-excluir {
    color: white;
    display: block;
    font-size: 1.5rem;
    text-align: center;
}

#container-veiculo, .container-condutor {
    display: none;
}
.info-container {
    position: absolute;
    opacity: 0;
}
.info-container.ativado {
    opacity: 1;
    position: relative;
    bottom: auto;
    transition: all ease-in-out 300ms;
}
.info-container h2 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
}

#excluirTarefa {
    margin-top: 20px;
}
.esquerda, .direita {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#abreModalCadastroViagem {
    display: none;
}
.botoes {
    display: flex;
    justify-content: center;
}
.botoes .botao{
    margin: 0 10px;
}
#novoVeiculo {
    margin-top: 10px;
}

#veiculos {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
    justify-content: center;
    margin: 20px 0;
    grid-gap: 10px;
}
.veiculo-container {
    justify-self: center;
    box-sizing: border-box;
    max-width: 300px;
    padding: 10px;
    color: white;
    background-color: #183d44;
    -webkit-box-shadow: 0 3px 2px #000;
    -moz-box-shadow: 0 3px 2px #000;
    box-shadow: 0 3px 2px #000;
    width: 100%;
}
.selecionaVeiculo {
    display: block;
    width: 100%;
    cursor: pointer;
    background-color: #1b5057;
    border: none;
    color: white;
    margin-top: 5px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.veiculo-container h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
.veiculo-container h4 {
    font-size: 0.9em;
    color: #9c9c9c;
    margin-bottom: 5px;
}
.veiculo-container b {
    font-weight: bold;
}
.veiculo-container span {
    display: block;
    margin-bottom: 3px;
}
@media (max-width: 390px ) {
    .veiculos {
        grid-template-columns: 1fr;
    }
}
#form-veiculo {
    display: none;
}

