.main-content {
    display: flex;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 1800px;
}
#tarefa-detalhes {
    width: 100%;
    background-color: #275a66;
    margin-bottom: 20px;
}
#detalhe-conteudo{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#nome {
    background-color: #275a66;
    border: none;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: white;
    margin-top:30px;
}
#descricao {
    background: transparent;
    resize: none;
    border: none;
    width: 100%;
    text-align-last: center;
    text-align: center;
    font-size: 1.5rem;
    color: #c5cec9;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif !important;
}
.detalhe-input {
    background: transparent;
    border: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-size: 1.2rem;
}

.tarefa-select:focus,#nome:focus, #descricao:focus, .detalhe-input:focus {
    outline: none;
}
#botaoAlterarTarefa {
    top: 8px;
    left: -10px;
}

#botaoAbreExcluirTarefa {
    top: 8px;
    right: -10px;
}
.tarefa-group {
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
}
.tarefa-label {
    display: block;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}
.tarefa-select {
    width: 100%;
    text-align: center;
    text-align-last: center;
    background-color: transparent;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    font-size: 1.2rem;
    color: white;
}
.tarefa-select option {
    background-color: #06404d;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
}

@media (max-width: 1200px) {
    .tarefa-group {
        width: 50%;
    }
}
@media (max-width: 600px) {
    .tarefa-group {
        width: 100%;
    }
}
#viagens {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 10px;
}

#viagens::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

#viagens::-webkit-scrollbar {
    height: 10px;
    background-color: transparent;
}

#viagens::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #babaca;
}
.viagem {
    box-sizing: border-box;
    width: 350px;
    padding: 20px;
    color: white;
    background-color: steelblue;
    margin: 0 20px;
    display: inline-block;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    cursor: pointer;
}
h2 {
    margin:10px 0;
    display: inline-block;
}
.viagem-label {
    display: block;
    margin-bottom: 5px;
}
.viagem hr{
    border: solid white 1px;
}
#viagens-botoes {
    display: flex;
    justify-content: space-between;
}
#viagens-botoes i {
    font-size: 4rem;
    cursor: pointer;
}
#semItens {
    width: 50%;
    max-width: 50px;
    display: block;
    margin: 10px auto;
}
.aviso {
    text-align: center;
    display: none;
}
.aviso h4 {
    margin: 5px 0;
    font-weight: normal;
}
#modalExcluirTarefa .modal-header{
    background: #e45d5a;
}
#excluirTarefa {
    position: relative;
    display: block;
    margin: 40px auto;
}
.texto-excluir {
    color: white;
    display: block;
    font-size: 1.5rem;
    text-align: center;
}
.info-viagem {
    pointer-events: none;
}

