<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/src/View/Default/css/mensagem.css">
    <link rel="stylesheet" href="/src/View/Default/css/body.css">
    <link rel="stylesheet" href="/src/View/Default/css/modal.css">
    <link rel="stylesheet" href="/src/View/Default/css/botoes.css">
    <link rel="stylesheet" href="/src/View/Default/css/formulario.css">
    <link rel="stylesheet" href="/src/View/Tarefa/telaTarefa/styleTarefa.css">
    <title>Tarefa</title>
</head>
<body>
<div class="mensagem">
    <div class="mensagem-texto">
    </div>
    <div class="botao-fechar-mensagem">
        <i class="material-icons">close</i>
    </div>
</div>
<nav class="sidebar">
    <div class="container-itens">
        <div class="sidebar-item" id="dashboards">
            <i class="material-icons">dashboard</i>
            <span class="sidebar-item-text">Dashboard</span>
        </div>
        <div class="sidebar-item" id="perfil">
            <i class="material-icons">person</i>
            <span class="sidebar-item-text">Perfil</span>
        </div>
        <div class="sidebar-item" id="projetos">
            <i class="material-icons">work</i>
            <span class="sidebar-item-text">Projetos</span>
        </div>
        <div class="sidebar-item" id="imprevistos">
            <i class="material-icons">book</i>
            <span class="sidebar-item-text">Imprevistos</span>
        </div>
        <div class="sidebar-item" id="formularios">
            <i class="material-icons">assignment</i>
            <span class="sidebar-item-text">Formulários</span>
        </div>
        <div class="sidebar-item" id="graficos">
            <i class="material-icons">assessment</i>
            <span class="sidebar-item-text">Gráficos</span>
        </div>
    </div>
    <div class="container-sair">
        <i class="material-icons">cancel</i>
        <span class="btn-sair">Sair</span>
    </div>
</nav>
<header class="main-header">
    <img class="header-logo" src="/assets/images/logo2.png" alt="logotipo LPM">
    <div class="user-info">
        <span class="user-name"></span>
        <div class="container-user-img">
            <img src="/assets/files/default/perfil.png" class="user-img" alt="foto-perfil">
        </div>
    </div>
</header>
<main class="main-content">
    <div class="container">
        <div id="tarefa-detalhes">
            <form id="detalhe-conteudo">

            </form>
        </div>
        <div id="itens-tarefa">
            <h2 id="tabViagens"><i class="material-icons">airplanemode_active</i>Viagens</h2>
            <hr>
            <div id="viagens">
                <div class="aviso" id="aviso-viagem">
                    <img src="/assets/images/not-found.svg" id="semItens" alt="icone sem itens">
                    <h4>Nenhuma Viagem encontrada!</h4>
                    <h4>Clique em novo para cadastrar uma nova viagem</h4>
                </div>
            </div>
            <div id="viagens-botoes">
                <i class="material-icons" id="esquerda">keyboard_arrow_left</i>
                <i class="material-icons" id="direita">keyboard_arrow_right</i>
            </div>

        </div>

    </div>
</main>
<section class="modal-background">
</section>
<div class="modal" id="modalExcluirTarefa">
    <div class="modal-header">
        <div class="modal-header-title">
            Excluir Tarefa
        </div>
        <div class="modal-header-close" >
            <i class="material-icons" id="fechaModalExcluirTarefa">close</i>
        </div>
    </div>
    <div class="modal-conteudo">
        <span class="texto-excluir">Deseja mesmo excluir esta tarefa?</span>
        <span class="texto-excluir">Todos os dados presentes nesta tarefa serão excluidos <b>para sempre</b></span>
        <button class="botao-excluir" id="excluirTarefa">Excluir</button>
    </div>
</div>

<div class="modal" id="modalCadastrarViagem">
    <div class="modal-header">
        <div class="modal-header-title">
            Cadastrar Viagem
        </div>
        <div class="modal-header-close" >
            <i class="material-icons" id="fechaModalCadastrarViagem">close</i>
        </div>
    </div>
    <div class="modal-conteudo">
        <form class="form-padrao">
            <div id="info-viagem" class="info ativado">
                <div class="form-group">
                    <label class="form-label" for="origem">Origem</label>
                    <input class="form-input" id="origem" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="destino">Destino</label>
                    <input class="form-input" id="destino" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="dataIda">Data de Ida</label>
                    <input class="form-input" id="dataIda" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="dataVolta">Data de Volta</label>
                    <input class="form-input" id="dataVolta" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label label-select" for="tipo">Tipo de Viagem</label>
                    <select id="tipo" class="form-select">
                        <option value="" disabled selected></option>
                        <option value="Viagem a trabalho">Viagem a trabalho</option>
                        <option value="Evento/Congresso">Evento/Congresso</option>
                        <option value="Viagem treinamento/aprimoramento">Viagem treinamento/aprimoramento</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="fonte">Fonte de Recurso</label>
                    <input class="form-input" id="fonte" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="atividade">Atividade</label>
                    <input class="form-input" id="atividade" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="justificativa">Justificativa</label>
                    <input class="form-input" id="justificativa" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="observacoes">Observações</label>
                    <input class="form-input" id="observacoes" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="passagem">Passagem</label>
                    <input class="form-input" id="passagem" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label label-select" for="tipoPassagem">Tipo de Passagem</label>
                    <select id="tipoPassagem" class="form-select">
                        <option value="" disabled selected></option>
                        <option value="Aérea nacional (com franquia de bagagem)">Aérea nacional (com franquia de bagagem)</option>
                        <option value="Aérea nacional (sem franquia de bagagem)">Aérea nacional (sem franquia de bagagem)</option>
                        <option value="Aérea internacional">Aérea internacional</option>
                        <option value="Terrestre nacional">Terrestre nacional</option>
                        <option value="Terrestre internacional">Terrestre internacional</option>
                    </select>
                </div>
                <button class="botao-padrao" type="button" id="irPaginaHospVeiculo">Próximo</button>
            </div>
            <div id="info-hospVeiculo"  class="info">
                <button class="botao-padrao" type="button" id="voltarPaginaViagem">Voltar</button>
                <div class="form-group" id="group-veiculo" style="display:block;">
                    <label class="form-label label-select" for="idVeiculo">Veículo</label>
                    <select id="idVeiculo" class="form-select">
                        <option hidden value="novo"></option>
                        <option value="selecione" selected></option>
                    </select>
                </div>
                <button type="button" id="abreVeiculo" class="botao-adicionar">Novo</button>
                <div id="container-veiculo">
                    <button id="fechaVeiculo" type="button" class="botao-adicionar">Escolher</button>
                    <div class="form-group">
                        <label class="form-label" for="veiculo">Nome do Veículo</label>
                        <input class="form-input" id="veiculo" type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-label label-select" for="tipoVeiculo">Tipo de Veículo</label>
                        <select id="tipoVeiculo" class="form-select">
                            <option value="" disabled selected></option>
                            <option value="Veículo locado">Veículo locado</option>
                            <option value="Transporte com parceiros/terceiros">Transporte com parceiros/terceiros</option>
                            <option value="Veículo Fundação PTI-BR">Veículo Fundação PTI-BR</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="dataRetirada">Data de Retirada</label>
                        <input class="form-input" id="dataRetirada" type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="horaRetirada">Hora de Retirada</label>
                        <input class="form-input" id="horaRetirada" type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="dataDevolucao">Data de Devolução</label>
                        <input class="form-input" id="dataDevolucao" type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="horaDevolucao">Hora de Devolução</label>
                        <input class="form-input" id="horaDevolucao" type="text">
                    </div>
                    <div class="form-group" id="group-condutor" style="display:block;">
                        <label class="form-label label-select" for="idCondutor">Condutor</label>
                        <select id="idCondutor" class="form-select">
                            <option hidden value="novo"></option>
                            <option value="selecione" disabled selected></option>
                        </select>
                    </div>
                    <button type="button" id="abreCondutor" class="botao-adicionar">Novo</button>
                    <div id="container-condutor" style="display: none;">
                        <button id="fechaCondutor" type="button" class="botao-adicionar">Escolher</button>
                        <div class="form-group">
                            <label class="form-label" for="nomeCondutor">Nome do Condutor</label>
                            <input class="form-input" id="nomeCondutor" type="text">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="cnh">Número CNH</label>
                            <input class="form-input" id="cnh" type="text">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="validadeCNH">Validade da CNH</label>
                            <input class="form-input" id="validadeCNH" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="dtEntradaHosp">Data Entrada Hospedagem</label>
                    <input class="form-input" id="dtEntradaHosp" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="dtSaidaHosp">Data Saida Hospedagem</label>
                    <input class="form-input" id="dtSaidaHosp" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="horaEntradaHosp">Hora de Entrada Hospedagem</label>
                    <input class="form-input" id="horaEntradaHosp" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="horaSaidaHosp">Hora de Saida na Hospedagem</label>
                    <input class="form-input" id="horaSaidaHosp" type="text">
                </div>
                <button class="botao-padrao" type="button" id="irPaginaGastos">Próximo</button>
            </div>
            <div id="info-gastos"  class="info ">
                <button class="botao-padrao" id="voltarPaginaHospVeiculo" type="button">Voltar</button>
                <div class="form-group">
                    <label class="form-label" for="aluguel">Aluguel de veículos (locado fora de Foz)</label>
                    <input class="form-input" id="aluguel" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="combustivel">Combustível</label>
                    <input class="form-input" id="combustivel" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="estacionamento">Estacionamento</label>
                    <input class="form-input" id="estacionamento" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="passagemRodMetro">Passagens rodoviárias (metrô/ônibus)</label>
                    <input class="form-input" id="passagemRodMetro" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="passagemRodInter">Passagens rodoviárias internacionais</label>
                    <input class="form-input" id="passagemRodInter" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="pedagio">Pedágio</label>
                    <input class="form-input" id="pedagio" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="seguro">Seguro internacional (obrigatório)</label>
                    <input class="form-input" id="seguro" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="taxi">Táxi</label>
                    <input class="form-input" id="taxi" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="outros">Outros</label>
                    <input class="form-input" id="outros" type="text">
                </div>
                <button class="botao-padrao" id="cadastrarViagem" type="button">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
<script src="/src/View/Default/js/requisicoes.js"></script>
<script src="/src/View/Default/js/mensagem.js"></script>
<script src="/src/View/Default/js/funcoesPadrao.js"></script>
<script src="/src/View/Default/js/modal.js"></script>
<script src="/src/View/Default/js/formulario.js"></script>
<script src="/src/View/Tarefa/telaTarefa/funcoesTarefa.js"></script>
</body>
</html>
