<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/select.css">
</head>
<body>
<div class="container">
    <div class="form-select">
        <label for="sel" class="form-label">Selecione um campo</label>
        <select id="sel">
            <option>Batata</option>
            <option>Pepino</option>
            <option>Tomate</option>
            <option>Alface</option>
            <option>Cenoura</option>
            <option>Abacaxi</option>
            <option>Laranja</option>
        </select>
    </div>
</div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/select.js"></script>
</html>