[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.freelogoservices.com/api/main/images/1j+ojl1FOMkX9WypfBe43D6ki...GCqhJInhbIwXs1M3EMoAJtlSUphPBs8P87
Type=Link
URL=https://www.freelogoservices.com/api/main/images/1j+ojl1FOMkX9WypfBe43D6ki...GCqhJInhbIwXs1M3EMoAJtlSUphPBs8P87
Icon=image-png
Name[en_US]=logo
